<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL | Daily </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="all">
        <div class="header">
            <div class="header-top">
                <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <span class="header-top-span">Leaderboard</span>
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>
            <div class="header-middle">
                <a href="#">Daily</a>
                <a href="/scores/weekly/total">Weekly</a>
                <a href="/scores/monthly/total">Monthly</a>
            </div>
            <div class="header-bottom">
                <div class="header-bottom-img-block-1">
                    <div class="header-bottom-img-block-1-img">
                        <img src="/images/top.jpg" alt="" width="70px" height="70px">
                    </div>
                    <div class="header-bottom-img-block-description">
                        <p class="header-bottom-img-block-description-p1">

                            <%if ((scores.byRunsSeries[1].sixes) || (scores.byRunsSeries[1].sixes=="0")){%>
                                Sixes <%=scores.byRunsSeries[1].sixes%>
                                <%}else if((scores.byRunsSeries[1].fours) || (scores.byRunsSeries[1].fours=="0")){%>
                                Fours <%=scores.byRunsSeries[1].fours%>
                                <%}else{%>
                                    Pt. <%=scores.byRunsSeries[1].runs%>
    
                                    <%}%>




                        </p>
                        <p class="header-bottom-img-block-description-p2"><%=scores.byRunsSeries[1].uname%></p>
                    </div>
                </div>
                <div class="header-bottom-img-block-2">
                    <div class="header-bottom-img-block-2-img">
                        <img src="/images/top.jpg" alt="" width="90px" height="90px">
                    </div>
                    <div class="header-bottom-img-block-description">
                        <p class="header-bottom-img-block-description-p1">

                            <%if ((scores.byRunsSeries[0].sixes) || (scores.byRunsSeries[0].sixes=="0")){%>
                                Sixes <%=scores.byRunsSeries[0].sixes%>
                                <%}else if((scores.byRunsSeries[0].fours) || (scores.byRunsSeries[0].fours=="0")){%>
                                Fours <%=scores.byRunsSeries[0].fours%>
                                <%}else{%>
                                    Pt. <%=scores.byRunsSeries[0].runs%>
    
                                    <%}%>
                        </p>
                        <p class="header-bottom-img-block-description-p2"><%=scores.byRunsSeries[0].uname%></p>
                    </div>
                </div>
                <div class="header-bottom-img-block-3">
                    <div class="header-bottom-img-block-3-img">
                        <img src="/images/top.jpg" alt="" width="70px" height="70px">
                    </div>
                    <div class="header-bottom-img-block-description">
                        <p class="header-bottom-img-block-description-p1">


                            <%if ((scores.byRunsSeries[2].sixes) || (scores.byRunsSeries[2].sixes=="0")){%>
                                Sixes <%=scores.byRunsSeries[2].sixes%>
                                <%}else if((scores.byRunsSeries[2].fours) || (scores.byRunsSeries[2].fours=="0")){%>
                                Fours <%=scores.byRunsSeries[2].fours%>
                                <%}else{%>
                                    Pt. <%=scores.byRunsSeries[2].runs%>
    
                                    <%}%>
                        </p>
                        <p class="header-bottom-img-block-description-p2"><%=scores.byRunsSeries[2].uname%></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navigation">
                <a href="#"><button>PLAYER OF THE SERIES</button></a>
                <a href="#"><button>MOST CONSISTENT PLAYER</button></a>
                <a href="/scores/daily/sixes"><button>MOST 6s</button></a>
                <a href="/scores/daily/fours"><button>MOST 4s</button></a>
                <a href="/scores/daily/day"><button>PLAYER OF THE DAY</button></a>
                <a href="#"><button>PLAYER OF THE WEEK</button></a>


            </div>
            <div class="article">
              <%for(let score in scores.byRunsSeries){ %>
                <div class="article-box">
                    <div class="article-box-grid-1">
                        <%=parseInt(score)+1%>
                    </div>
                    <div class="article-box-grid-2"><img src="/images/1.jpg" alt=""></div>
                    <div class="article-box-grid-3"><%=scores.byRunsSeries[score].uname%></div>
                    <div class="article-box-grid-4">
                        <%if ((scores.byRunsSeries[score].sixes) || (scores.byRunsSeries[score].sixes=="0")){%>
                            Sixes <%=scores.byRunsSeries[score].sixes%>
                            <%}else if((scores.byRunsSeries[score].fours) || (scores.byRunsSeries[score].fours=="0")){%>
                            Fours <%=scores.byRunsSeries[score].fours%>
                            <%}else{%>
                                Pt. <%=scores.byRunsSeries[score].runs%>

                                <%}%>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</body>

</html>