<html>
    <head>
        <title>
            FPL | User Profile
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
    </head>

    <body>
        <!-- <div class="container">
            <div class="row">
               <div class="col-md-4 offset-4">
                <table class="table table-hover">
                   
                    <tbody>
                        <tr>
                            <td class="text-center" colspan="2">User Data</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><%=user.name%></td>
                        </tr>
                        <tr>
                            <td>Mobile No.</td>
                            <td><%=user.umobile%></td>
                        </tr>
                        <tr>
                            <td>Total Runs</td>
                            <td><%=user.totalRuns%></td>
                        </tr>
                        <tr>
                            <td>Combo</td>
                            <td><%=user.combos%></td>
                        </tr>
                        <tr>
                            <td>Home & Kitchen</td>
                            <td><%=user.hnks%></td>
                        </tr>
                        <tr>
                            <td>Fours</td>
                            <td><%=user.fours%></td>
                        </tr>
                        <tr>
                            <td>Sixes</td>
                            <td><%=user.sixes%></td>
                        </tr>
                    </tbody>
                </table>
               </div>
            </div>
        </div> -->


        <!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>docs</title>
    <style>
        
    </style>
</head>

<body>
    <div class="container my-4" style="width: 500px;">
        <ul class="list-group">
            <li class="list-group-item" aria-disabled="true" style="text-align: center;"><h1>MY DATA</h1></li>
            <li class="list-group-item" aria-disabled="true"><strong>Name</strong>  <span style="margin-left: 150px;"><%=user.name%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Mobile no</strong>  <span style="margin-left: 118px;"><%=user.umobile%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Total Runs</strong>  <span style="margin-left: 116px;"><%=user.totalRuns%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Total Combo</strong>  <span style="margin-left: 142px;"><%=user.totalCombos%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Total Home & Kitchen</strong>  <span style="margin-left: 72px;"><%=user.totalHnks%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Total Fours</strong>  <span style="margin-left: 157px;"><%=user.totalFours%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Total Sixes</strong>  <span style="margin-left: 161px;"><%=user.totalSixes%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Daily Runs</strong>  <span style="margin-left: 161px;"><%=user.dailyRuns%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Daily Sixes</strong>  <span style="margin-left: 161px;"><%=user.dailySixes%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Daily Fours</strong>  <span style="margin-left: 161px;"><%=user.dailyFours%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Weekly Runs</strong>  <span style="margin-left: 161px;"><%=user.weeklyRuns%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Weekly Sixes</strong>  <span style="margin-left: 161px;"><%=user.weeklySixes%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Weekly Fours</strong>  <span style="margin-left: 161px;"><%=user.weeklyFours%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Monthly Runs</strong>  <span style="margin-left: 161px;"><%=user.monthlyRuns%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Monthly Sixes</strong>  <span style="margin-left: 161px;"><%=user.monthlySixes%></span></li>
            <li class="list-group-item" aria-disabled="true"><strong>Monthly Fours</strong>  <span style="margin-left: 161px;"><%=user.monthlyFours%></span></li>



            






        </ul>
    </div>

    <div class="conatiner">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a href="/auth/logout">
                <button class="btn btn-danger text-center">Logout</button>
                </a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
    </body>
</html>